<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myXmlClass" class="pl.pjatk.adalic.MyXmlClass"/>
    <bean id="mySecondComponent" class="pl.pjatk.adalic.MySecondComponent"/>
    <bean id="myFirstComponent" class="pl.pjatk.adalic.MyFirstComponent">
<!--        <constructor-arg ref="mySecondComponent"/>-->
    </bean>
    <bean id="myThirdComponent" class="pl.pjatk.adalic.MyThirdComponent"/>
</beans>